@{
  Layout = "_Layout";
}

@model BakeryTreat.Models.Flavor

<h2>Add a Treat</h2>

<h4>Add a Treat to this flavor: @Html.DisplayFor(model => model.FlavorType)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select a treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>