@{
  Layout = "_Layout";
}

@model BakeryTreat.Models.Flavor

<h2>Edit</h2>

<h4>Edit this: @Html.DisplayFor(model => model.FlavorType)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorType)
    @Html.EditorFor(model => model.FlavorType)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>