@{
  Layout = "_Layout";
}

@model BakeryTreat.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.TreatType)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.TreatType)
    @Html.EditorFor(model => model.TreatType)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to treats", "Index")</p>